<!DOCTYPE html>
<html lang="de-DE">
<!--
	Layout based on [Minimal](https://github.com/pages-themes/minimal/blob/833807bae314429c770ba7ba2db282224c7b7c23/_layouts/default.html),
	but heavily modified for this very special use case.
-->
	  <head>
		      <meta charset="UTF-8">
		          <meta http-equiv="X-UA-Compatible" content="IE=edge">
			      <meta name="viewport" content="width=device-width, initial-scale=1">

			      {% seo %}
			          <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
				      <!--[if lt IE 9]>
					      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
					      <![endif]-->
					        </head>
						  <body>
<div class="wrapper">
<header>
<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>


<p>Query mit {{ site.description | default: site.github.project_tagline }}</p>

</header>
<section>
	<h2>Was mache ich damit?</h2>
	<ol>
		<li><a href="https://tracker.moodle.org/issues/?jql=(
assignee in (
{{ page.content | url_encode }}
) OR reporter in (
{{ page.content | url_encode }}
) ) AND resolution = Unresolved %20
AND Project = MDL %20
AND Status not in (closed) %20
ORDER BY updated DESC, Status ASC, reporter DESC, created DESC, issuetype ASC, assignee ASC"
			>Im Tracker öffnen</a></li>
		<li>Klick im Tracker auf "Save as" und vergib einen Namen für die Abfrage</li>
		<li>Klick anschließend dort auf "New subscription" und lege einen Zeitplan fest, z. B. freitags um 9:00 Uhr.</li>
		<li>Wenn dich eines der Issues ebenfalls betrifft, zeig Unterstützung indem du dafür abstimmst und ggf. einen Kommentar hinzufügst.</li> 
		<li><a href="{{ site.github.repository_url }}">Beobachte dieses Repository</a>, um Änderungen mitzubekommen. So kannst du feststellen, wann du ggf. deine Abfrage anpassen solltest.</li> 
	</ol>
	<p>
<pre id="filter" style="height: 150px; overflow-y: auto;">
( assignee in (
{{ page.content }}
) OR reporter in (
{{ page.content }}
) )
AND resolution = Unresolved
AND Project = MDL
AND Status not in (closed) 
ORDER BY updated DESC, Status ASC, reporter DESC, created DESC, issuetype ASC, assignee ASC
</pre>
<button class="btn" data-clipboard-target="#filter">
    <img src="assets/clippy.svg" alt="Copy to clipboard">
</button>
	</p>

    </section>
      <footer>
	      <h2>Wer fehlt?</h2>
	      <p class="view"><a href="{{ site.github.repository_url }}/blob/master/index.md">Bitte füg dich und weitere bekannte Nutzernamen in GitHub hinzu!<br>
		      <small>{{ site.github.repository_nwo }}</small></a></p>
          
				          <p><small>Hosted on GitHub Pages</small></p>
					        </footer>
						    </div>
						        <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
						        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
							    <script>
							    	new ClipboardJS('.btn');
							    </script>
	  </body>
</html>

