<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	  <head>
		      <meta charset="UTF-8">
		          <meta http-equiv="X-UA-Compatible" content="IE=edge">
			      <meta name="viewport" content="width=device-width, initial-scale=1">

			      {% seo %}
			          <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
				      <!--[if lt IE 9]>
					      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
					      <![endif]-->
					        </head>
						  <body>
<div class="wrapper">
<header>
<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>


<p>{{ site.description | default: site.github.project_tagline }}</p>

</header>
<section>

	<p><b>Tracker-Query</b></p>
	<p><a href="(
assignee in (
	{{ content | url_encode }}
) OR
reporter in (
	{{ content | url_encode }}
)
)
AND resolution = Unresolved
AND Project = MDL
AND Status not in (closed) 
ORDER BY updated DESC, Status ASC, reporter DESC, created DESC, issuetype ASC, assignee ASC">
	Open in Tracker</a></p>
	<p>
<pre id="filter">
(
	assignee in (
		{{ content }}
	) OR
	reporter in (
		{{ content }}
	)
)
AND resolution = Unresolved
AND Project = MDL
AND Status not in (closed) 
ORDER BY updated DESC, Status ASC, reporter DESC, created DESC, issuetype ASC, assignee ASC
</pre>
<button class="btn" data-clipboard-target="#filter">
    <img src="assets/clippy.svg" alt="Copy to clipboard">
</button>
	</p>

    </section>
      <footer>
						<p class="view"><a href="{{ site.github.repository_url }}/pulls">Bitte füge weitere bekannte Nutzernamen in GitHub hinzu <small>{{ site.github.repository_nwo }}</small></a></p>
          
				          <p><small>Hosted on GitHub Pages</small></p>
					        </footer>
						    </div>
						        <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
						        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
							    <script>
							    	new ClipboardJS('.btn');
							    </script>
	  </body>
</html>

